<nav class="flex md:justify-between justify-between items-center font-Poppins py-5 px-4 relative">
  <div class="flex justify-center items-center">
    <div class="logo md:mr-[90px]">
      <a href="/" class="text-3xl font-bold">Anonime</a>
    </div>
    <ul class="md:flex justify-start items-center hidden gap-x-8">
      <li>
        <a routerLink="/home" routerLinkActive="active" class="text text-[#868686] font-normal leading-8">Home</a>
      </li>
      <li class="group">
        <a (click)="navigateToMovieList('movies')" routerLink="movie/movie-list" routerLinkActive="active"
          class="text text-[#868686] font-normal leading-8 ">Movies</a>
        <div
          class="absolute w-full top-1/2 left-0 opacity-0 invisible group-hover:visible group-hover:opacity-95 bg-slate-700 transition-all duration-500 mt-4">
          <ul class="grid grid-cols-4 gap-2 p-5">
            <li *ngFor="let m of genresMovie"><a (click)="goToTypeMovie(m.id)" class="hover:bg-white">{{m.name}}</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a (click)="navigateToMovieList('tv-series')" routerLink="tv/tv-list" routerLinkActive="active"
          class="text text-[#868686] font-normal leading-8">TV
          series</a>
      </li>
      <li>
        <a routerLink="#" routerLinkActive="active" class="text text-[#868686] font-normal leading-8">Search</a>
      </li>
    </ul>
  </div>
  <div class="md:hidden inline-block ml-auto mr-4">
    <svg fill="none" class="h-8 w-8" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
    </svg>
  </div>


  <a href="/search">
    <i class="fa-solid fa-magnifying-glass w-7"></i>
  </a>


</nav>
