<h1 class="font-Poppins font-semibold text-3xl mt-8 uppercase">Trending</h1>
<div class="text-right">
  <a href="#" class="font-Poppins text-base text-right mr-3 cursor-pointer hover:border-b">See all</a>
</div>
<section class="sm:px-4 py-2">
  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" class="relative">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide gap-x-1">
      <a href="#">
        <div class="h-[200px] sm:h-[150px] sm:w-[300px] overflow-hidden">
          <img src="{{ slide.img }}"
            class=" w-full h-full object-cover transition transform duration-500 hover:scale-[1.08] hover:opacity-30"
            alt="" width="100%">
        </div>
        <!-- <div class="h-[150px] sm:w-[350px]  transition transform duration-500 hover:scale-125 mr-2">
        </div> -->
      </a>
    </div>
  </ngx-slick-carousel>

</section>
<!-- 
        <a href="#">
        <div class="h-[150px] sm:w-[350px]  transition transform duration-500 hover:scale-125 mr-2">
          <img src="{{ slide.img }}" class="object-cover w-full h-full box-content" alt="" width="100%">
        </div>
      </a>
 -->
