<div class="mb-8 ">
  <h1 class="font-Poppins font-semibold text-3xl mb-2">Explore</h1>
  <span class="font-Poppins font-normal text-xl text-[#868686]">What are you gonna watch today ?</span>
  <div class="md:h-[400px] mt-7 relative">
    <div class="h-full absolute bottom-0 w-full bg-gradient-to-l from-transparent to-black"></div>
    <img
      src="https://cdna.artstation.com/p/assets/images/images/050/880/308/large/rahal-nejraoui-the-boys-season-3-poster-by-rahalarts.jpg?1655911090"
      class="h-full w-full object-contain md:object-cover " alt="">
    <h1 class="font-Poppins font-semibold md:text-3xl text-lg absolute left-10 top-1/2 md:top-[240px] hidden sm:block">
      Weather With You
    </h1>
    <h1 class="font-Poppins font-semibold md:text-3xl text-lg absolute left-5 bottom-4 block sm:hidden">
      They boys
    </h1>
    <p class="absolute left-10 bottom-[2%] md:bottom-10 md:w-[586px] font-normal text-xs md:text-sm hidden sm:block">
      Corrupt
      politicians, frenzied
      nationalists,
      and
      other warmongering
      forces
      constantly
      jeopardize the thin veneer
      of peace between neighboring countries Ostania and Westalis. </p>

  </div>

</div>
