<ngx-slick-carousel class="carousel mt-4" #slickModal="slick-carousel" [config]="slideConfig">
  <div ngxSlickItem *ngFor="let slide of slides" class="relative">
    <div class="h-full absolute bottom-0 w-full bg-gradient-to-b from-transparent to-black"></div>
    <div class="h-[500px] sm:h-[600px] md:h-[750px] md:text-base lg:text-2xl">
      <img src="https://image.tmdb.org/t/p/original/{{ slide.backdrop_path }}" class="object-cover w-full h-full" alt=""
        width="100%">
    </div>
    <div class="md:w-[50%] sm:w-[70%] w-[70%] absolute top-[20%] left-[10%] gap-y-9">
      <div class="flex flex-col gap-4 sm:gap-8">
        <h1 class="font-Poppins font-bold leading-[1] text-[clamp(1.75rem,0.22rem_+_3.85vw,3.75rem)]">
          {{ slide.title }}
        </h1>
        <p
          class="font-Poppins line-clamp-4 sm:line-clamp-none text-[clamp(0.875rem,0.8057958477508651rem_+_0.34602076124567477vw,1.125rem)]">
          {{ slide.overview }}
        </p>
      </div>
      <div class="flex justify-start items-center gap-y-4">
        <!-- circle progress -->
        <circle-progress [percent]="slide.vote_average * 10" [radius]="20" [outerStrokeWidth]="5"
          [outerStrokeColor]="'#ff0000'" [animation]="true" [animationDuration]="300">
        </circle-progress>
        <!-- circle progress -->
        <div class="bg-[#ff0000] rounded-2xl mr-2 flex-shrink-0" *ngFor="let g of slide.genre_ids">
          <span class="pl-2 pr-2 text-xs sm:text-sm">{{ getGenreName(g) }}</span>
        </div>
      </div>
      <a [routerLink]="['/'+type+'/movie-detail', slide.id]"
        class="font-Poppins font-medium text-center text-base py-2 px-[22px] bg-[#ff0000] rounded relative inline-block mt-5">
        <i class="fa-solid fa-play mr-2"></i>
        <span>Watch now</span>
      </a>
    </div>
  </div>
</ngx-slick-carousel>

<!-- carousel -->
<!-- <ngx-slick-carousel class="carousel mt-4" #slickModal="slick-carousel" [config]="slideConfig">
  <div ngxSlickItem *ngFor="let slide of slides" class="relative">
    <div class="h-full absolute bottom-0 w-full bg-gradient-to-b from-transparent to-black"></div>
    <div class=" h-[300px] sm:h-[500px] md:h-[750px] md:text-base lg:text-2xl">
      <img src="https://image.tmdb.org/t/p/original/{{ slide.backdrop_path }}" class="object-cover w-full h-full "
        alt="" width="100%">
    </div>
    <div class="md:w-[40%] sm:w-[30%] absolute top-[20%] left-[10%] gap-y-9">
      <div class="flex flex-col ">
        <h1 class="font-Poppins font-bold text-6xl leading-[79px]">
          {{slide.title}}
        </h1>
        <p class="font-Poppins leading-6 text-justify line-clamp-3 lg:line-clamp-none ">
          {{slide.overview}} </p>

      </div>
      <div class="flex justify-start items-center pt-4">
   
        <div class="bg-[#ff0000] rounded-2xl mr-2 flex-shrink-0" *ngFor="let g of slide.genre_ids">
          <span class="pl-2 pr-2">{{ getGenreName(g)}}</span>
        </div>
      </div>
      <a [routerLink]="['/movie-detail',slide.id]"
        class=" font-Poppins font-medium text-center text-base py-2 px-[22px] bg-[#ff0000] rounded relative inline-block mt-5">
        <i class="fa-solid fa-play mr-2"></i>
        <span>Watch
          now</span>
      </a>
    </div>
  </div>
</ngx-slick-carousel> -->
<!-- carousel -->


<!-- <img
      src="https://cdna.artstation.com/p/assets/images/images/050/880/308/large/rahal-nejraoui-the-boys-season-3-poster-by-rahalarts.jpg?1655911090"
      class="h-full w-full object-contain md:object-cover " alt="">
    <h1 class="font-Poppins font-semibold md:text-3xl text-lg absolute left-10 top-1/2 md:top-[240px] hidden sm:block">
      Weather With You
    </h1>
    <h1 class="font-Poppins font-semibold md:text-3xl text-lg absolute left-5 bottom-4 block sm:hidden">
      They boys
    </h1>
    <p class="absolute left-10 bottom-[2%] md:bottom-10 md:w-[586px] font-normal text-xs md:text-sm hidden sm:block">
      Corrupt
      politicians, frenzied
      nationalists,
      and
      other warmongering
      forces
      constantly
      jeopardize the thin veneer
      of peace between neighboring countries Ostania and Westalis. </p>-->


<!-- ncdnncd -->
<!-- <div class="flex flex-col md:w-[40%] sm:w-[30%]">
  <h1
    class="absolute font-Poppins font-semibold md:text-6xl text-4xl left-10 top-1/2 translate-y-[-50px] hidden sm:block">
    Weather With You
  </h1>
  <h1 class="font-Poppins font-semibold md:text-3xl text-2xl absolute left-5 bottom-4 block sm:hidden">
    They boys
  </h1>
  <p
    class="absolute font-normal text-xs left-10  bottom-1/2 translate-y-[80px] md:translate-y-[100px] sm:w-[50%]  md:text-base hidden sm:block">
    Corrupt
    politicians, frenzied
    nationalists,
    and
    other warmongering
    forces
    constantly
    jeopardize the thin veneer
    of peace between neighboring countries Ostania and Westalis. </p>
</div> -->
