<section class="rounded-lg bg-white overflow-hidden text-black">
  <div class="relative">
    <div class="w-full h-52 bg-gradient-to-r from-cyan-500 to-blue-500"></div>
    <img src="https://source.unsplash.com/random"
      class="absolute h-40 w-40 rounded-full border-4 top-[60%] left-[30%] sm:left-10" alt="">
  </div>
  <div class="px-10 text-center sm:text-start">
    <h1 class="mt-28 font-Poppins text-2xl font-extrabold">Ammadan Smith</h1>
    <div>🤣<span class="ml-2 mt-4 text-[#868686] text-sm font-normal">Viet Nam, Da Nang</span></div>
    <div class="flex mt-8 mb-12 justify-around sm:justify-normal">
      <button
        class="p-2.5 border-solid border border-gray-200 hover:bg-gray-300 hover:text-white rounded-lg font-Poppins font-normal text-sm">
        <i class="fa-solid fa-message"></i>
        <span class="ml-2">
          Messenge

        </span>
      </button>
      <button type="submit"
        class="p-2.5 ml-2 text-sm font-medium bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        <i class="fa-solid fa-share text-white"></i>
        <span class="ml-2 text-white">Share profile</span>
      </button>
    </div>
  </div>
</section>
