<section class="md:flex pt-28 lg:container">

  <main class="px-4">
    <div class="flex items-center sm:justify-between justify-around mb-[30px]">
      <h1
        class="font-Poppins font-bold text-[clamp(0.875rem,0.7rem_+_0.86vw,1.5rem)] border-indigo-500 border-l-4 pl-4 uppercase">
        List
        {{segment == 'movie'? 'Movie':'TV series'}}
        {{name.split('_').join(" ")}}</h1>
      <div class="flex  md:gap-3 gap-1 text-[clamp(0.5rem,0.396rem_+_0.511vw,0.875rem)]"
        *ngIf="segment == 'movie-list'; else tvList">
        <button class="button--list sm:py-1 sm:px-3 px-1 hover:bg-slate-700 " (click)="getMovieData(1,'popular')"
          [class.active]="activeButton === 'popular'">Popular</button>
        <button class="button--list sm:py-1 sm:px-3 px-1 hover:bg-slate-700 " (click)="getMovieData(1,'top_rated')"
          [class.active]="activeButton === 'top_rated'">Top
          rated</button>
        <button class="button--list sm:py-1 sm:px-3 px-1 hover:bg-slate-700 " (click)="getMovieData(1,'now_playing')"
          [class.active]="activeButton === 'now_playing'">Now
          playing</button>
        <button class="button--list sm:py-1 sm:px-3 px-1 hover:bg-slate-700 " (click)="getMovieData(1,'upcoming')"
          [class.active]="activeButton === 'upcoming'">Up
          coming</button>
      </div>
      <ng-template #tvList>
        <div class="flex  md:gap-3 gap-1 text-[clamp(0.5rem,0.396rem_+_0.511vw,0.875rem)]">
          <button class="button--list sm:py-1 sm:px-3 px-1 hover:bg-slate-700 " (click)="getMovieData(1,'popular')"
            [class.active]="activeButton === 'popular'">popular</button>
          <button class="button--list sm:py-1 sm:px-3 px-1 hover:bg-slate-700 " (click)="getMovieData(1,'top_rated')"
            [class.active]="activeButton === 'top_rated'">Top
            rated</button>
          <button class="button--list sm:py-1 sm:px-3 px-1 hover:bg-slate-700 " (click)="getMovieData(1,'airing_today')"
            [class.active]="activeButton === 'airing_today'">Airing
            today</button>
          <button class="button--list sm:py-1 sm:px-3 px-1 hover:bg-slate-700 " (click)="getMovieData(1,'on_the_air')"
            [class.active]="activeButton === 'on_the_air'">On the air</button>
        </div>

      </ng-template>
    </div>


    <!-- list -->
    <section>
      <ul class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-[30px]">
        <app-movie-card *ngFor="let m of results|paginate: { id: 'custom-pagination',
        itemsPerPage: paginationConfig.itemsPerPage,
        currentPage: paginationConfig.currentPage,
        totalItems: paginationConfig.totalItems }" [movieCards]="m" [type]="segment"></app-movie-card>
      </ul>

    </section>
    <pagination-controls id="custom-pagination" class="flex justify-center mt-[50px] gap-x-2 text-slate-50"
      (pageChange)="onPageChange($event)" [responsive]="true">
    </pagination-controls>

  </main>
</section>
