<!-- banne -->
<section class="">
  <app-banner></app-banner>
</section>
<!-- banne -->
<h1 class="font-Inter font-semibold text-3xl mb-8  px-4">Popular anime</h1>
<!-- <div class="grid xl:grid-cols-6 lg:grid-cols-5 md:grid-cols-4 grid-cols-2 gap-x-4 md:gap-y-0 px-4 place-content-center">
  <app-post-card></app-post-card>
  <app-post-card></app-post-card>
  <app-post-card></app-post-card>
  <app-post-card></app-post-card>
  <app-post-card></app-post-card>
  <app-post-card></app-post-card>

</div> -->
<!-- movie -->
<section class="pl-2.5 pr-2.5 lg:gap-0">
  <div class="grid lg:gap-3 gap-2 md:grid-cols-4 grid-cols-2 ">
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
  </div>

</section>
