<section class="px-4 flex flex-col 
tablet:justify-center tablet:items-center sm:items-center  md:mt-[120px] mt-14 pb-16">
  <div class="mb-[38px]">
    <i class="fa-brands fa-square-facebook md:mr-12 h-7 w-6"></i>
    <i class="fa-brands fa-instagram md:mr-12 h-7 w-6"></i>
    <i class="fa-brands fa-twitter md:mr-12 h-7 w-6"></i>
    <i class="fa-brands fa-youtube h-7 w-6"></i>
  </div>
  <div class="mb-[38px] flex flex-col gap-y-3 tablet:block md:gap-y-0">
    <span class="font-Poppins text-sm md:text-base font-bold mr-3 md:mr-12">Conditions of Use</span>
    <span class="font-Poppins text-sm md:text-base font-bold mr-3 md:mr-12">Privacy & Policy</span>
    <span class="font-Poppins text-sm md:text-base font-bold ">Press Room</span>
  </div>
  <div class="font-Poppins text-base">
    © 2021 MovieBox by Adriana Eka Prayudha
  </div>
</section>
