<div class="grid grid-cols-2 gap-2 lg:gap-3 md:grid-cols-4 ">


  <!-- <a [href]="['/'+type+'/movie-detail/'+ c.id]" [title]="c.title" class="relative overflow-hidden group/film" -->
  <a routerLink="/{{type}}//movie-detail/{{c.id}}" [title]="c.title" class="relative overflow-hidden group/film"
    *ngFor="let c of card">
    <div class="w-[311px] h-[174px]">
      <img class="object-cover w-full h-full transition-all duration-300 lg:group-hover/film:scale-110"
        src="https://image.tmdb.org/t/p/original{{ c.backdrop_path?c.backdrop_path:c.poster_path }}"
        alt="{{c.title || c.name || 'NO NAME'}}">
    </div>
    <div class="absolute bottom-0 w-full h-[100px] text-white 
      bg-gradient-to-b from-transparent to-gray-900
      lg:group-hover/film:to-slate-700 
      py-1 px-1.5 sm:p-3 md:py-1 md:px-1.5 lg:p-3
      pt-24
      transition-all">
      <div class="line-clamp-1
          sm:mb-2 md:mb-1 lg:mb-3
          text-[14px] sm:text-[16px] md:text-[14px] lg:text-[16px] 
          absolute bottom-4">
        {{c.title || c.name }}</div>
      <div class="absolute bottom-1 left-1.5 right-1.5 
          sm:bottom-2 sm:left-3 sm:right-3 
          md:left-1.5 md:right-1.5 md:bottom-1 
          lg:bottom-2 lg:left-3 lg:right-3
          flex justify-between">
        <!-- <span
          class="font-extralight text-[10px] sm:text-[12px] max-w-[38%] sm:max-w-[40%] s640:max-w-[50%] md:max-w-[40%] lg:max-w-none whitespace-nowrap overflow-hidden">
          6 / 22 tập
        </span>
        <span
          class="shrink-0 font-extralight text-[10px] sm:text-[12px] text-ellipsis max-w-[55%] md:max-w-[50%] lg:max-w-none line-clamp-1">9,734
          lượt xem</span> -->
      </div>
    </div>
  </a>

</div>
