<!-- <div class="text-center w-[80%] lg:w-[170px] mb-5">
  <a href="">
    <div class=" h-[254px] relative shrink-0  rounded-[10px]  overflow-hidden">
      <img
        src="https://m.media-amazon.com/images/M/MV5BODcwNWE3OTMtMDc3MS00NDFjLWE1OTAtNDU3NjgxODMxY2UyXkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_.jpg"
        class="object-cover w-full h-full  " alt="">
      <div class=" absolute bottom-0  bg-gradient-to-b from-transparent to-black  w-full  h-[90px]">
      </div>
      <span class="font-Poppins font-normal text-base absolute bottom-3.5 right-1/2 translate-x-1/2 w-full ">
        episode
        1022</span>
    </div>
    <h2 class="font-Poppins font-semibold text-base mt-0">One piece</h2>
  </a>

</div> -->
<!--  -->
<div class="grid lg:gap-3 gap-2 md:grid-cols-4 grid-cols-2 ">


  <a [href]="['/'+type+'/movie-detail/'+ c.id]" [title]="c.title" class="group/film relative overflow-hidden"
    *ngFor="let c of card">
    <div class="w-[311px] h-[174px]">
      <img class="w-full h-full object-cover lg:group-hover/film:scale-110 duration-300 transition-all"
        src="https://image.tmdb.org/t/p/original{{ c.backdrop_path?c.backdrop_path:c.poster_path }}"
        alt="{{c.title || c.name || 'NO NAME'}}">
    </div>
    <div class="absolute bottom-0 w-full h-[100px] text-white 
      bg-gradient-to-b from-transparent to-gray-900
      lg:group-hover/film:to-slate-700 
      py-1 px-1.5 sm:p-3 md:py-1 md:px-1.5 lg:p-3
      pt-24
      transition-all">
      <div class="line-clamp-1
          sm:mb-2 md:mb-1 lg:mb-3
          text-[14px] sm:text-[16px] md:text-[14px] lg:text-[16px] 
          absolute bottom-4">
        {{c.title || c.name }}</div>
      <div class="absolute bottom-1 left-1.5 right-1.5 
          sm:bottom-2 sm:left-3 sm:right-3 
          md:left-1.5 md:right-1.5 md:bottom-1 
          lg:bottom-2 lg:left-3 lg:right-3
          flex justify-between">
        <!-- <span
          class="font-extralight text-[10px] sm:text-[12px] max-w-[38%] sm:max-w-[40%] s640:max-w-[50%] md:max-w-[40%] lg:max-w-none whitespace-nowrap overflow-hidden">
          6 / 22 tập
        </span>
        <span
          class="shrink-0 font-extralight text-[10px] sm:text-[12px] text-ellipsis max-w-[55%] md:max-w-[50%] lg:max-w-none line-clamp-1">9,734
          lượt xem</span> -->
      </div>
    </div>
  </a>

</div>
