<!-- <div class="text-center w-[80%] lg:w-[170px] mb-5">
  <a href="">
    <div class=" h-[254px] relative shrink-0  rounded-[10px]  overflow-hidden">
      <img
        src="https://m.media-amazon.com/images/M/MV5BODcwNWE3OTMtMDc3MS00NDFjLWE1OTAtNDU3NjgxODMxY2UyXkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_.jpg"
        class="object-cover w-full h-full  " alt="">
      <div class=" absolute bottom-0  bg-gradient-to-b from-transparent to-black  w-full  h-[90px]">
      </div>
      <span class="font-Poppins font-normal text-base absolute bottom-3.5 right-1/2 translate-x-1/2 w-full ">
        episode
        1022</span>
    </div>
    <h2 class="font-Poppins font-semibold text-base mt-0">One piece</h2>
  </a>

</div> -->
<!--  -->
<div class="group/film relative overflow-hidden">
  <a href="/co-gai-lau-duoi">
    <img class="w-full h-full s1024:group-hover/film:scale-110 duration-300 transition-all"
      src="https://s199.imacdn.com/vg/2023/05/24/7e1a9312fc34b0a4_e02bb069528fef1b_11399416849132202118684.jpg"
      data-src="https://s199.imacdn.com/vg/2023/05/24/7e1a9312fc34b0a4_e02bb069528fef1b_11399416849132202118684.jpg"
      alt="Cô Gái Lầu Dưới">
    <div class="absolute bottom-0 w-full h-[100px] text-white 
      bg-gradient-to-b from-transparent to-gray-900
      s1024:group-hover/film:to-cyan-900 
      py-1 px-1.5 s480:p-3 s768:py-1 s768:px-1.5 s1024:p-3
      pt-24
      transition-all">
      <div class="line-clamp-1
          s480:mb-2 s768:mb-1 s1024:mb-3
          text-[14px] s480:text-[16px] s768:text-[14px] s1024:text-[16px] 
          absolute bottom-4">Cô Gái Lầu Dưới</div>
      <div class="absolute bottom-1 left-1.5 right-1.5 
          s480:bottom-2 s480:left-3 s480:right-3 
          s768:left-1.5 s768:right-1.5 s768:bottom-1 
          s1024:bottom-2 s1024:left-3 s1024:right-3
          flex justify-between">
        <span
          class="font-extralight text-[10px] s480:text-[12px] max-w-[38%] s480:max-w-[40%] s640:max-w-[50%] s768:max-w-[40%] s1024:max-w-none whitespace-nowrap overflow-hidden">
          6 / 22 tập
        </span>
        <span
          class="shrink-0 font-extralight text-[10px] s480:text-[12px] text-ellipsis max-w-[55%] s768:max-w-[50%] s1024:max-w-none line-clamp-1">9,734
          lượt xem</span>
      </div>
    </div>
  </a>
</div>
